body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.header {
  background-color: #fff;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
}

.header .container {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration-line: none;
  display: flex;
  align-items: center;
  margin-right: 76px;
}

.logo .nav-logo {
  color: #2e2f42;
}

.navigation-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration-line: none;
  padding: 24px 0;
  display: block;
}

.menu:focus,
.menu:hover {
  color: #404bbf;
}

.address {
  font-style: normal;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.address-list {
  list-style-type: none;
  display: flex;
  margin-left: auto;
  gap: 40px;
}

.address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

  text-decoration-line: none;
}

.address-link:focus,
.address-link:hover {
  color: #404bbf;
}

/* hero */

.hero {
  background-color: #2e2f42;
  display: flex;
  align-items: center;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-header {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  display: flex;
  text-align: center;
  color: #fff;
  padding-bottom: 48px;
  max-width: 496px;
  margin: 0 auto;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  background: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  display: block;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* features */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  align-items: baseline;
}

.features-list {
  list-style-type: none;
  display: flex;
  gap: 24px;
}

.features-list-item {
  width: calc((100% - 72px) / 4);
}

.features-item-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex-direction: column;
  margin-bottom: 8px;
}

.features-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* team */

.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.team-list-item {
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 3 * 24px) / 4);
}

.team-img {
  display: center;
  width: 100%;
  height: auto;
}

.team-text {
  padding: 32px 0;
}

.team-item-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 8px;
  text-align: center;
}

.team-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.pf-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  width: calc((100% - 24px * 2) / 3);
}

.portfolio-item-img {
  display: center;
  width: 100%;
  height: auto;
}

.card-content {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;

  padding: 32px 16px;
}

.portfolio-item-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* footer */

footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.ft-logo {
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 0;
}

.footer-logo {
  display: inline-block;
}

.logo .footer-logo {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

* {
  margin: 0;
  padding: 0;
}
